{# Main navbar --------------------------------------------------------- #}

<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">

        <!-- Cheers! -->
        {% if USER %}
        <button class="w3-bar-item w3-button w3-padding-large w3-hover-theme w3-theme-d4" title="Skål!"
            onclick="socket.emit('cheers', {});">
            <i class="fa fa-beer"></i>
        </button>
        {% endif %}

        <!-- Home link icon -->
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-theme">
            Karanteneforum
        </a>

        {% if USER %}

        {#
        <!-- Agenda link icon -->
        <a href="/agenda" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large w3-hover-theme" title="Agenda">
            <i class="fa fa-list"></i>
        </a>
        #}

        <!-- Kalender link icon -->
        <a href="/hva_skjer" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large w3-hover-theme"
            title="Sjekk hva skjer">
            <i class="fas fa-calendar-alt"></i>
        </a>

        <!-- Messages link icon -->
        <a href="/meldinger" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large w3-hover-theme"
            title="Meldinger">
            <i class="fas fa-comments"></i>
        </a>

        <!-- User name and special permission links -->
        <div class="w3-dropdown-hover w3-right w3-hide-small w3-hide-medium">
            <button class="w3-button w3-padding-large w3-hover-theme">
                <i class="far fa-user-circle w3-margin-right"></i>{{ USER }}
            </button>
            <div class="w3-dropdown-content w3-bar-block w3-theme-d2" style="right:0">

                {% if KVISSMASTER_RETTIGHET or BDFL_RETTIGHET %}
                <a href="/kvissmaster" class="w3-bar-item w3-button"><i class="fas fa-question " style="width: 30px;"></i> Kvissmaster</a>
                {% endif %}

                {% if STATUS_RETTIGHET or BDFL_RETTIGHET %}
                <a href="/status" class="w3-bar-item w3-button"><i class="fas fa-rss " style="width: 30px;"></i> Ny status</a>
                {% endif %}

                {% if TILGANGER_RETTIGHET or BDFL_RETTIGHET %}
                <a href="/tilganger" class="w3-bar-item w3-button"><i class="fas fa-user-cog " style="width: 30px;"></i> Brukerrettigheter</a>
                {% endif %}

            </div>
        </div>

        <!-- Sign out button -->
        <form method="post" action="/logout">
            <button class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-right w3-padding-large  w3-hover-theme" value="logout"
                title="Nå går de gamle hjem!">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>

        <!-- Aktivitet link icon -->
        <a href="/aktivitet" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large w3-hover-theme w3-right"
            title="Aktivitet">
            <i class="fas fa-chart-area"></i>
        </a>

        {% endif %}

        <a class="w3-bar-item w3-button w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()">
            <i class="fa fa-bars"></i>
        </a>

    </div>
    
    {# Small navbar -------------------------------------------------------- #}
    
    <!-- Navbar on small screens -->
    <div id="smallNavbar" class="w3-bar-block w3-theme-d2 w3-large">
    
        {% if USER %}
        {#
        <!-- Agenda link -->
        <a href="/agenda" class="w3-bar-item w3-button w3-padding-large">
            <i class="fa fa-list " style="width: 30px;"></i> Agenda
        </a>
        #}
    
        <!-- kalender link -->
        <a href="/hva_skjer" class="w3-bar-item w3-button w3-padding-large w3-hover-theme">
            <i class="fas fa-calendar-alt " style="width: 30px;"></i> sjekk hva skjer
        </a>
    
        <!-- Messages link -->
        <a href="/meldinger" class="w3-bar-item w3-button w3-padding-large w3-hover-theme">
            <i class="fas fa-comments " style="width: 30px;"></i> Meldinger
        </a>
    
        {% if KVISSMASTER_RETTIGHET or BDFL_RETTIGHET %}
        <a href="/kvissmaster" class="w3-bar-item w3-button w3-padding-large w3-hover-theme">
            <i class="fas fa-question " style="width: 30px;"></i> Kvissmaster
        </a>
        {% endif %}
    
        {% if STATUS_RETTIGHET or BDFL_RETTIGHET %}
        <a href="/status" class="w3-bar-item w3-button w3-padding-large">
            <i class="fas fa-rss " style="width: 30px;"></i> Ny status
        </a>
        {% endif %}
    
        {% if TILGANGER_RETTIGHET or BDFL_RETTIGHET %}
        <a href="/tilganger" class="w3-bar-item w3-button w3-padding-large">
            <i class="fas fa-user-cog " style="width: 30px;"></i> Brukerrettigheter
        </a>
        {% endif %}
    
        <!-- Aktivitet link -->
        <a href="/aktivitet" class="w3-bar-item w3-button w3-padding-large">
            <i class="fas fa-chart-area " style="width: 30px;"></i> Aktivitet
        </a>
    
        <!-- Sign out button -->
        <form method="post" action="/logout">
            <button class="w3-bar-item w3-button w3-padding-large" value="logout">
                <i class="fas fa-sign-out-alt " style="width: 30px;"></i> Nå går de gamle hjem!
            </button>
        </form>
    
        {% endif %}
    </div>
</div>



{# Skål pop-up --------------------------------------------------------- #}

{% if USER %}
<div id="cheers-modal" class="w3-modal" onclick="$('#cheers-modal').hide();">
    <div class="w3-modal-content w3-animate-top w3-card-4" style="width: 300px;">
        <header class="w3-container w3-theme w3-center">
            <h2><i class="fas fa-glass-cheers w3-margin-right"></i>Skål!</i></h2>
        </header>
        <div class="w3-container w3-center w3-padding">
            <p><span id="cheers-name">??</span> skålet!<i class="fas fa-beer w3-margin-left"></i></p>
        </div>
    </div>
</div>
{% endif %}


{# Script -------------------------------------------------------------- #}

<script>

    $(document).ready( () => {
        $('#smallNavbar').hide();
    });

    function openNav() {
        $('#smallNavbar').toggle();
    }

    socket.on('cheers', (msg) => {
        $('#cheers-name').text(msg);
        $('#cheers-modal').show();
    });

    socket.on('cheers-quarantine', (msg) => {
        alert('Du skålet nylig og er i skålekarantene!')
    });

</script>