<!--
    .w3-theme-l5
    .w3-theme-l4
    .w3-theme-l3
    .w3-theme-l2
    .w3-theme-l1
    .w3-theme-d1
    .w3-theme-d2
    .w3-theme-d3
    .w3-theme-d4
    .w3-theme-d5

    .w3-theme-light
    .w3-theme-dark
    .w3-theme-action

    .w3-theme
    .w3-text-theme
    .w3-border-theme

    .w3-hover-theme:hover
    .w3-hover-text-theme:hover
    .w3-hover-border-theme:hover
-->

<!-- Main navbar ---------------------------------------------------------->

<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">

        <!-- Cheers! -->
        {% if USER %}
        <button class="w3-bar-item w3-button w3-padding-large w3-hover-theme w3-theme-d4" title="Skål!" onclick="cheers()">
            <i class="fa fa-beer"></i>
        </button>
        {% endif %}

        <!-- Home link icon -->
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-theme">
            {{ APP_NAME }}
        </a>

        {% if USER %}

        <!-- Agenda link icon -->
        <a href="/agenda" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-theme" title="Agenda">
            <i class="fa fa-list"></i>
        </a>

        <!-- Kalender link icon -->
        <a href="/hva_skjer" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-theme" title="Sjekk hva skjer">
            <i class="fas fa-calendar-alt"></i>
        </a>

        <!-- Aktivitet link icon -->
        <a href="/aktivitet" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-theme" title="Aktivitet">
            <i class="fas fa-chart-area"></i>
        </a>

        <!-- Sign out button -->
        <form method="post" action="/logout">
            <!-- TODO: Ajax logout -->
            <button class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large  w3-hover-theme" value="logout"
                title="Nå går de gamle hjem!">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>

        <!-- User name -->
        <span class="w3-bar-item w3-hide-small w3-right w3-padding-large">
            <i class="far fa-user-circle w3-margin-right"></i>{{ USER }}
        </span>

        {% endif %}

    </div>
</div>


<!-- Small navbar --------------------------------------------------------->

<!-- Navbar on small screens -->
<!-- TODO: oppdater liten navbar -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>


<!-- Script --------------------------------------------------------------->

<script>

function cheers() {
    $.get("/cheers", (data, status) => {
        update_news();
    });
}

</script>